body {
  max-width: 2000px;
  min-height: 100%;
  font-family: "bookman old style";
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}

main {
  min-height: 90vh;
  background-color: #d8b066;
  background-blend-mode: lighten;
  z-index: 1;
}
header {
  display: flex;
  justify-content: center;
  background-image: url(images/Rain-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 10rem;
  position: relative;
}

.logo {
  width: 18%;
  min-width: 12rem;
  max-width: 15rem;
  margin: auto;
}

.logo:hover {
  transform: scale(1);
}

contact.html {
  margin: auto;
  max-width: 2000px;
  margin-left: auto;
}

/*Navigation Bar */

.sidebar {
  background-color: #0a3641;
  font-weight: bold;
  text-align: center;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul {
  color: #fff;
  font-size: 2rem;
  margin: auto;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
  margin: auto;
}

a {
  display: inline;
  color: #fff;
  text-decoration: none;
}

/*Navigation Bar */

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 5rem auto;
  position: sticky;
  border: 1px solid #0a3641;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jackets {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 2;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-footer {
  background-color: #fff;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: auto;
}

/* jackets-spesific */

.product1 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.product2 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.product3 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.product4 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.product5 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.product6 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.product7 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.product8 {
  width: min-content;
  text-align: left;
  border: 1px solid #0a3641;
  padding: 1rem;
}

.viewbutton {
  height: 2.5rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 12px;
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: 0.5px solid #0a3641;
}

.price {
  font-size: 1rem;
  color: #d8b066;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.product:hover {
  transform: scale(1.05);
}

/* icons */

#hamburger-menu {
  position: absolute;
  right: 0;
  display: none;
}

.hamburger-label {
  display: none;
}

.hamburger-icon {
  display: none;
}

i {
  font-size: 3rem;
  color: #0a3641;
}

.cart-icon {
  position: relative;
  top: 5rem;
}

.footer-icons {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.github-icon {
  margin-right: 5rem;
}

.checkbox {
  display: none;
}

#toggle {
  display: none;
}

.backarrow {
  position: absolute;
  top: 14rem;
  left: 1rem;
  z-index: 20;
  max-width: 2000px;
}

i:hover {
  cursor: pointer;
}

/* media queries */

@media (max-width: 600px) {
  .Outside {
    top: 0;
  }

  .hamburger-icon {
    display: block;
    position: absolute;
    top: 14rem;
    right: 1rem;
    z-index: 20;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ .sidebar {
    min-height: 25rem;
  }

  nav ul {
    margin: auto;
    font-size: 1.5rem;
    padding: 7rem;
  }

  nav ul li {
    display: flex;
    width: 100%;
    min-height: 100%;
    margin: auto;
  }

  .active {
    text-decoration: underline;
  }

  .flex-container {
    margin-top: 5rem;
    min-height: 100%;
  }

  .buttons {
    margin: auto;
  }

  .buttons a {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .add2c {
    max-width: 8rem;
    word-wrap: break-word;
    white-space: normal;
  }

  .checkOutBtn {
    max-width: 8rem;
  }

  img:hover {
    transform: scale(1);
  }
}

/* Jacket-specific */

.flex-container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  min-width: none;
  margin: 5rem auto;
  border: 1px solid #0a3641;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.price {
  margin: 1rem auto;
  max-width: 5rem;
  color: black;
  padding: 1rem;
}

.pinkJacket {
  height: 38%;
  width: 38%;
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}

.add2c {
  color: #0a3641;
  height: 2.5rem;
  width: 12rem;
  border-radius: 11px;
  border: 1px solid #0a3641;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  font-size: 1rem;
  display: inline;
  text-transform: none;
  min-width: none;
  line-height: 1rem;
}

.checkOutBtn {
  color: #0a3641;
  height: 2.5rem;
  width: 12rem;
  border-radius: 11px;
  border: 1px solid #0a3641;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  font-size: 1rem;
  min-width: none;
  line-height: 1rem;
}

/* ABOUT.HTML */

.content-about-container {
  margin: 1rem;
  margin-top: 8rem;
  font-size: 2rem;
  position: relative;
}

.Outside {
  position: relative;
  bottom: -30rem;
  font-size: 5rem;
  color: #fff;
  text-align: center;
}

.stockphoto-container {
  display: flex;
  margin: auto;
}

.stockphoto {
  max-width: 50%;
  margin: auto;
  margin-bottom: 5rem;
  max-height: 50%;
}

.stockphoto:hover {
  transform: scale(1);
}

@media (min-width: 800px) {
  .content-about-container {
    color: #0a3641;
    min-height: 25em;
    min-width: 20rem;
    background-color: #fff;
    margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 1em;
    margin: 5em;
    font-size: 1.5rem;
    position: relative;
  }

  .box1 {
    flex: 1;
    animation: move 3s ease 1;
    animation-fill-mode: forwards;
    position: absolute;
  }

  @keyframes move {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  .box2 {
    flex: 1;
    position: absolute;

    animation: hide 3s ease-in-out 3s;
    animation-fill-mode: both;
  }

  @keyframes hide {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  .box3 {
    flex: 1;
    position: absolute;

    animation: hideshow 3s ease-in-out 6s;
    animation-fill-mode: both;
  }

  @keyframes hideshow {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  .box4 {
    display: flex;
    justify-content: center;
    animation: slideshow 3s ease-in-out 10s;
    flex: 3;
    animation: slideshow 3s ease-in-out 10s;
    animation-fill-mode: both;
    font-size: 70px;
    max-width: 100%;
    position: absolute;
  }

  @keyframes slideshow {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 50%;
    }
    99% {
      opacity: 100%;
    }
    100% {
      transform: translate(auto, 44%);
    }
  }

  .Outside {
    color: #0a3641;
    margin-top: 0;
  }
}

/* Checkout.html */

.checkout-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
}

fieldset {
  border: 1px solid #0a3641;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: #fff;
  text-align: left;
  font-size: 1.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

form {
  margin-top: 1rem;
}

.BUYBTN {
  width: 15rem;
  height: 3.5rem;
  font-size: 1.7rem;
  justify-content: center;
  font-weight: bold;
  border-radius: 9px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

form label {
  flex: 1;
}

form input {
  display: flex;
  flex: 1;
}

.size {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 2rem;
}

/* Contact html */

.map {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.contactinfo {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  margin-top: 6rem;
  text-justify: distribute;
  text-rendering: geometricPrecision;
}

/* lastpage */

.thank-you {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 10rem auto;
  min-height: 10rem;
  max-width: 50%;
  border: 1px solid black;
}

.last-rainy {
  flex: 1;
  font-size: auto;
  margin: auto;
}

.here {
  margin-top: 5rem;
  font-size: 1.4rem;
}
