body {
  max-width: 2000px;
  width: 99%;
  min-height: 100vh;
  font-family: "bookman old style";
  display: flex;
  flex-direction: column;
  margin: auto;
}

main {
  height: 90vh;
}
header {
  display: flex;
  justify-content: center;
  border: solid 1px black;
  background-image: url(images/Rain-texture.jpg);
}

.logo {
  width: 18%;
  min-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  min-height: 100vh;
  border: solid 1px black;
  float: left;
  width: 15rem;
  background-color: #0a3641;
  height: 100%;
}

nav ul {
  text-decoration: none;
  padding-top: 5rem;
}

nav ul li {
  text-decoration: none;
  font-size: 1.5rem;
  list-style-type: none;
  font-family: "bookman old style";
  font-weight: bold;
  padding: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-top: 5rem;
  justify-content: space-evenly;
}

.jackets {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 2;
  justify-content: space-around;
}

.container-footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer {
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: auto;
}

/* jackets-spesific */

.product1 {
  width: min-content;
}

.product2 {
  width: min-content;
}

.product3 {
  width: min-content;
}

.product4 {
  width: min-content;
}

.product5 {
  width: min-content;
}

.product6 {
  width: min-content;
}

.product7 {
  width: min-content;
}

.product8 {
  width: min-content;
}

.viewbutton {
  height: 2.5rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 12px;
  bottom: 5px;
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.active {
  text-decoration: underline;
}

/* icons */

i {
  font-size: 3rem;
  color: #0a3641;
}

.footer-icons {
  display: flex;
}


/* media queries */

